<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : EntryWay 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20140124

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Branders</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
<link href="../static/css/default.css" rel="stylesheet" type="text/css" media="all" />
<link href="../static/css/fonts.css" rel="stylesheet" type="text/css" media="all" />
<link href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" rel="stylesheet" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

<!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1></span><a href="#">Branders</a></h1>
		</div>
		<div id="menu">
			<ul>
				<li class="current_page_item"><a href="{{ url_for('analytics') }}" accesskey="1" title="">Analytics</a></li>
				<li><a href="news-media.html" accesskey="2" title="">News & Media</a></li>
				<li><a href="https://sites.google.com/view/the-branders/home" target="_blank" accesskey="3" title="">Resources</a></li>
				<!-- <li><a href="#" accesskey="4" title="">Careers</a></li>
				<li><a href="#" accesskey="5" title="">Contact Us</a></li> -->
			</ul>
		</div>
	</div>
</div>
<div id="header-featured">
	<div id="banner" class="container"> </div>
</div>
<div id="wel">
	<div class="container">
		<h2>Who We Are</h2>
		<p>We are <strong>Branders</strong>. Branders is an analytic dashboard equipped with features that help brand managers expand their social media presence. With full time support and relevant data, users are able to learn great insights about their platforms audience. </p>
		<!-- <a href="#" class="button">Etiam posuere</a>  -->
	</div>
</div>
<div id="wrapper">
	<div id="featured-wrapper">
		<div id="featured" class="extra2 margin-btm container">
			<div class="main-title">
				<h2>Why Us</h2>
				<span class="byline">Brand Tracking + Social Media Posting + Current Events</span> </div>
			<div class="ebox1"> <span class="fa fa-user"></span>
				<div class="title">
					<h2>User Friendly</h2>
					<span class="byline">Intuitive enough for one user or add colleagues</span> </div>
				<p>With a single click of a button, users have the ability to access a wide range of features. Our dashboard allows for team members to not only collaborate with one another on potential posts, but also to view relevant data about their audience.</p>
				<!-- <a href="#" class="button">Etiam posuere</a>  -->
			</div>
			<div class="ebox2"> <span class="fa fa-chart-bar"></span>
				<div class="title">
					<h2>Analytics</h2>
					<span class="byline">Import data for R analysis</span> </div>
				<p>After gathering data from their social media profiles, users have the ability to create their own charts and graphs. With this feature members can create a predictive analysis of trends surrounding their business. Additionally, users can keep track of key statistics such as impressions, mentions, and follower engagement.</p>
				<!-- <a href="#" class="button">Etiam posuere</a>  -->
			</div>
		</div>
		<div class="extra2 container">
			<div class="ebox1"> <span class="fa fa-twitter-square"></span>
				<div class="title">
					<h2>Social Media</h2>
					<span class="byline">Unlock real time posting following current events</span> </div>
				<p>In the News and Media section, users are able to draft and send messages directly from their social media platform. The section is also equipped with a set of popular news articles that users can view when drafting messages. While the articles get updated regularly, users can use the search engine to find more information.</p>
				<!-- <a href="#" class="button">Etiam posuere</a>  -->
			</div>
			<div class="ebox2"> <span class="fa fa-github"></span>
				<div class="title">
					<h2>Open Sourced Tools</h2>
					<span class="byline">Free tools that allow you to add more custom functionalities</span> </div>
				<p> By using Flask development environment, we are able to take advantage of the full power of Python. Python is the largest developer community so there will be plenty of help debugging problems. It also boasts tons of libraries and APIs - this includes the Twitter and Facebook API. There is no limit on the custom features that could be added to this tool. </p>
				<!-- <a href="#" class="button">Etiam posuere</a>  -->
			</div>
		</div>
	</div>
</div>
<div id="copyright" class="container">
	<p>&copy; Branders. All rights reserved. | Photos by <a href="http://fotogrph.com/">Fotogrph</a> | Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a>.</p>
</div>
</body>
</html>
